<div class="row">
  <div class="col-sm-12" style="text-align: center;" id="header">
      Burger Shop!
  </div>
  <div class="col-sm-12" style="height: 60px;">
     
  </div>
    <div class="col-sm-1">

  </div>
  <div class="col-sm-4" id="left-col-container">
    <div class="col-sm-12 menu">
      Menu
    </div>
    <div class="col-sm-12">
      <ul>
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block devoured=true}}
          {{/unless}}
        {{/each}}
      </ul>

    </div>
  </div>
  <div class="col-sm-2">
     
  </div>
    <div class="col-sm-4"  id="right-col-container">
    <div class="col-sm-12 menu">
      Eaten Burgers
    </div>
    <div class="col-sm-12">
      <ul>
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-block devoured=false}}
          {{/if}}
        {{/each}}
      </ul><!--checking burgers to see which have been ate-->
    </div>
  </div>

  <div class="col-sm-4">
     
  </div>
  <div class="col-sm-4" style="margin-top: 40px" id="form-container">
    <form class="create-form">
      <div class="form-group">
        <div style="text-align: center; margin:12px" class="menu">
          Enter your Burger name below!
        </div>
        <input type="text" id="burgName" name="name" style="border-radius: 4px;">
      </div>
      <div style="text-align: center;">
        <button type="submit" style="border-radius: 8px; border-color: black; padding: 8px; background-color: white; font-size: 1.2em; font-weight: bold">submit</button>
      </div>
    </form>
     
  </div>
  

</div>